<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>SnickSnap | Best way to browse Craigslist</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <meta name="description" content="SnickSnaps is the best way to browse Craigslist" />
  <meta property="og:title" content="SnickSnaps - The best way to browse Craigslist" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="SnickSnaps is the best way to browse Craigslist"/>
  <meta property="og:url" content="http://snicksnaps.com/" />
  <meta property="og:image" content="http://snicksnaps.com/fblogo.png" />
  <meta property="og:site_name" content="SnickSnaps" />
  <meta property="fb:admins" content="559755285" />
</head>
<body>
  <header id="header">
    <div id="hcont">
    <div id="logodiv">
          <a href="/" title="SnickSnap" id="logo">SnickSnap</a>
           <h1 id="say">The best way to browse Craigslist</h1>
    </div>
    <div id="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="SnickSnaps - The best way to browse Craigslist" data-via="danest">Tweet</a>
      <div class="fb-like" data-send="true" data-layout="button_count" data-width="130" data-show-faces="false" data-font="arial"></div>
    </div>
      <ul id="nav">
        <li><a href="#">Categories</a>
          <ul>
            <li><a href="/">Cars and Trucks</a>
            </li>
            <li><a href="/electronics">Electronics</a>
            </li>
            <li><a href="/freebies">Freebies</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>

  <div id="container">
    <%= yield %>
  </div>

  <footer>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207998685896226";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17557178-10']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </footer>
</body>
</html>

