body {
	background-image:url('bg.png');
}

#header{
	background:url('header.png') repeat-x;
	height: 77px;
	width: 100%;
	position: relative;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

#logo{
	text-indent: -9999px;
	background: url('logo.png') no-repeat;
	display: block;
	height: 47px;
	width:260px;
}

#logo:active{
	position: relative;
	top: 1px;
}

img{
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0; /* future proofing */
}

.item {
	border:1px solid #d7d7d7;
	width: 280px;
	float: left;
	margin-left: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	margin-top: 30px;
}

.image{
	height: 165px;
	overflow: hidden;
}
.item-bottom{
	background-color: #fff;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px; /* future proofing */
	padding-top: 5px;
}

.price {
	float: left;
	font-family: 'Lobster', cursive;
	color:#df7b2d;
	font-size: 32px;
	margin-left: 15px;
}

.info{
	float: right;
	width: 160px;
	font-size: 16px;
}

.info a {
	text-decoration: none;
}

.info a:hover {
	border-bottom: 1px dotted #df7b2d;
	color:#b86227;
}
.location{
	font-size: 13px;
}

.previous_page{
	background: url('left-arrow.png') no-repeat;
	background-position: 0 0px;
	display: block;
	height: 57px;
	float: left;
	text-indent: -9999px;

}

.pagination{
	position: fixed;
	width: 1066px;
	margin-left: -10px;
	top: 450px;
	z-index: -1;
}

h1{
	color:#fff;
}

.next_page {
	background: url('right-arrow.png') no-repeat;
	background-position: 0 0px;
	display: block;
	height: 57px;
	float: right;
	width: 59px;
	text-indent: -9999px;
}
.previous_page:hover{
	background-position: 0 -57px;
}
.next_page:hover{
	background-position: 0 -57px;

}
.clear{
	clear:both;
}


a {
	color: #333;
}
#nav {
	background: url(down.png) no-repeat 0 0;
	line-height: 100%;
	width:237px;
	height: 34px;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
	width: 224px;
}


/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;
	text-align: left;
	margin-top: 2px;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
}
#nav a:hover {
	color: #fff;
}


/* sub levels link hover */
#nav ul li:hover a {
	color: #fff;
	background: #a49488;

}

#nav li:hover li a {

}
#nav ul a:hover {
	color: #fff !important;
	background: #a49488;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 224px;
	position: absolute;
	left: 0;
	background: #857264;
	border: solid 1px #42322a;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
}


/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
	margin-top: 20px;
	float: right;
} 

#logodiv{
	float: left;
	margin-top: 5px;
}

#say{
	float: left;
	font-size:15px;
	z-index: 10;
}
#social{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}