body {
	background: #fff;
	font-family: 'Gill Sans MT','Gill Sans',"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header{
	background: #ffffff;
	height: 77px;
	width: 100%;
	position: relative;
	-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    margin: 0px;
}

#logo{
	text-indent: -9999px;
	background: url('logo.png') no-repeat;
	display: block;
	height: 47px;
	width:260px;
	float: left;
}

.city-header-selector {
	float: right;
	height: 47px;
	margin-left: 50px;
	margin-top: 30px;
}

.city-header-selector:hover {
	cursor: pointer;
}
.city-header-selector p:hover {
	border-bottom: 1px solid #0181F1;
}

.city-header-selector p {
	color: #0181f1;
	font-size: 18px;
	display: block;
	float: left;
	margin-top: -3px;
	margin-left: 5px;

}

#city_container .logo {
	text-indent: -9999px;
	background: url('logo.png') no-repeat;
	display: inline-block;
	height: 47px;
	width: 262px;
	margin: 0 auto;
}

#logo:active{
	position: relative;
	top: 1px;
}


.item {
	width: 265px;
	float: right;
	background: rgba(0, 0, 0, 0.6);
	margin-right: 20px;
	margin-bottom: 20px;

}

.lower-shadow{
	display: block;
	width: 265px;
	padding-top: 15px;
	background: url('shadow.png') no-repeat #fff;
}

.image{
	height: 165px;
	overflow: hidden;
}
.item-bottom{
	background: rgb(0, 0, 0) transparent;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 5px;
}

.price {
	float: right;
	color:#009cff;
	font-size: 18px;
	margin-right: 5px;

}

.info{
	float: left;
	color:#ffffff;
	width: 195px;
	font-size: 13.8px;
	margin-left: 6px;
}

.info a {
	color:#ffffff;
	text-decoration: none;
}

.info a:hover {
	border-bottom: 1px dotted #df7b2d;
	color:#b86227;
}
.location{
	font-size: 11px;
}

.previous_page{


}

.pagination{
	width: 320px;
	margin: 0 auto;
}

h1{
	color:#fff;
}

.next_page {

}
.previous_page:hover{

}
.next_page:hover{

}
.clear{
	clear:both;
}


a {
	color: #333;
}
#nav {
	line-height: 100%;
	height: 100%;
	list-style: none;
	margin-left: 0px;
}

#nav li a {
	color:#595959;
	text-decoration: none;
}

#nav li a:hover{
	padding-bottom: 2px;
	border-bottom: 1px dotted #595959;
}

#nav li {
	color:#595959;
	margin-bottom: 20px;
}



#logodiv{
	float: left;
	margin-top: 10px;
}

#say{
	float: left;
	color: #595959;
	font-size:15px;
	z-index: 10;
	margin-top: 17px;
	margin-left: 10px;
}
#social{
	float: left;
	margin-left: 50px;
	margin-top: 30px;
}
#nav_cont{
	float: left;
	width: 149px;
}

#items_cont {
	width: 875px;
}

#items_cont{
	float:right;
}

.fb_iframe_widget iframe {
	margin-top: -4px;
}

#city_container{
	z-index: 1001;
	display: none;
	border-radius: 10px;
	border: 10px solid;
	border-color:rgba(0,0,0, 0.6);
}

#city_container > div {
	background: #fff;
	padding: 25px;
	color: #595959;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #000;
    opacity: .7;

}
 #city_ul {
 	list-style: none;
 	margin-left: 0px;
	width: 212px;
	margin: 0 auto;
	margin-top: 10px;
 }

#city_ul li{
    padding: 5px;
    height: 20px;
    width: 200px;
    color: #000;
    border: 1px solid #adb1b4;
    background: #ffffff url('arrows.png') no-repeat right;
}
#city_ul, #city_ul li:hover{
	cursor: pointer;
}



/*
#city_ul li:hover > ul {
	display: block;
}

#city_ul li:hover > ul li:hover{
	color:#595959;
	cursor: pointer;
}*/

#city_ul li:hover > ul li:hover{
	color:#595959;
	cursor: pointer;
}

.hover {
	display: block;
}


/* level 2 list */
#city_ul ul {
	display: none;
	list-style: none;
	margin-left: -5px;
	margin-top: 4px;
}

#city_ul ul li {
	padding: 5px;
	width: 200px;
	background: #cbd2d7;
	border: none;
}

#city_ul ul li:hover{
	background: #71b9f3;
	border: none;
}

.overlay-p {
	width: 488px;
	font-size: 18px;
	font-family: Helvetica, sans-serif;
}

.overlay-p h1 {
	color: #000;
	font-size: 22px;
	width: 266px;
	margin: 0 auto;
}

.overlay-p h3 {
	text-align: center;
	font-size: 30px;
}

/* mail chimp */

#mc_embed_signup {
	background-color: #aeaeae;
	padding: 15px 0;
	border-bottom: 2px solid rgba(255,255,255, 1);

}
#mc-embedded-subscribe-form {
  width: 1024px;
  margin: 0 auto;
}

#mc_embed_signup form label {
	color: #fff;
	font-size: 20px;
	margin-right: 15px;
}

#mce-EMAIL {
	border: 1px solid #959595;
	color: #696767;
	padding: 5px;
	font-size: 14px;
}

#mc-embedded-subscribe {
	border: 1px solid #959595;
	background-color: #59b1f9;
    background: -webkit-linear-gradient(top, #59b1f9, #046abc);
    background: -moz-linear-gradient(top, #59b1f9, #046abc);
    background: -ms-linear-gradient(top, #59b1f9, #046abc);
    background: -o-linear-gradient(top, #59b1f9, #046abc);
    color: #fff;
    padding: 5px;
    font-size: 14px;

}
.city {
	display: block;
	background: url('city.png') no-repeat;
	width: 21px;
	height: 22px;
	float: left;

}

.arrow {
	display: block;
	background: url('downarrow.png') no-repeat;
	width: 14px;
	height: 12px;
	float: left;
	margin-left: 9px;
	margin-top: 6px;
}

.ads {
	margin-left: 75px;
}


